.register {
  &__title {
    margin-bottom: 16px;
  }

  &__profile-pic {
    margin: 0;
  }

  &__upload-image {
    cursor: pointer;
  }

  &__attached {
    word-wrap: break-word;
    margin: 0 10px 10px 10px;
  }

  &__submit {
    margin: 6px 0 12px 0;
  }
}
